# Общий .gitignore для проекта (монорепозиторий)

# -----------------
# 1. Файлы среды/конфигурации
# -----------------
# Файлы с переменными окружения, содержащие секреты
.env
.DS_Store

# -----------------
# 2. Python/Backend
# -----------------
# Виртуальное окружение Python
venv/
__pycache__/
*.pyc
# Временные файлы
.pytest_cache/

# -----------------
# 3. Node/Frontend
# -----------------
# Директория с пакетами npm
node_modules/

# Директория со сборкой фронтенда (Vite/Create-React-App)
build/
dist/