# .gitignore для Python/FastAPI
# Файлы, которые должны быть проигнорированы в папке `backend/`

# Виртуальное окружение Python (если оно находится внутри `backend/`)
/venv/
# Компилированные файлы
__pycache__/
*.pyc
# Логи и временные файлы
*.log
.DS_Store